.container-fluid {
    width: 100%;
}

#taskBoard {
    border: black 2px solid;
    width: 80%;
}

#col1, #col3 {
    background: #EFEFEF
}

#col0, #col2 {
    background: #DEDEDE
}

a:hover {
    color: lightskyblue;
    text-decoration: none;
}